{% extends 'base.html' %}

{% block title %}
    Смена пароля
{% endblock %}

{% block menu %}
    <li class="nav-item"><a class="nav-link" href="{% url "accounts:detail" user_obj.pk %}">К профилю</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url "accounts:change" %}">Редактирование личных данных</a></li>
{% endblock %}

{% block content %}
    <br><br><h2>Смена пароля пользователя "{{ user_obj }}"</h2>
    {% url "accounts:password_change" as action_url %}
    {% include "partial/new_form_template.html" with action_url=action_url form_method="post" %}
{% endblock %}