{% extends 'base.html' %}


{% block title %}Пользователь{% endblock %}

{% block menu %}
    {% if request.user == user_obj %}
        <li class="nav-item"><a class="nav-link" href="{% url "accounts:change" %}">Редактировать профиль</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url "accounts:password_change" %}">Смена пароля</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    <br><br><h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    {% if user_obj.profile.avatar %}
        <img class="avatar" src="{{ user_obj.profile.avatar.url }}" width="250" height="250" alt="user picture">
    {% endif %}
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Почта: {{ user_obj.email }}</p>
    <p>GitHub: <a href="{{ user_obj.profile.git_hub_profile }}">{{ user_obj.profile.git_hub_profile }}</a></p>
    <p>О себе: {{ user_obj.profile.about }}</p>
    <h2 class="text-center clear">Проекты автора:</h2>
    {% include 'partial/project_list.html' %}
{% endblock %}